.navbar {
  height: 55px;
  text-align: center;
  position: relative;
  font-family: sans-serif;
  top: 12px;
  font-size: 25px;
}
.contentContainer {
  margin-top: 30px;
}
.card-button__block{
  display: inline;
}
hr {
  margin-top: 20px;
}
.loading-state__block {
  margin-left: 50%;
  margin-top: 100px;
}
.device-title__section{
  margin-top: 85px;
  font-size: larger;
  font-family: sans-serif;
  margin-bottom: 12px;
}